<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aku.warhammerdicelauncher">

    <!-- android:icon="@mipmap/ic_launcher" -->
    <application
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:icon="@drawable/warhammer_v3_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <activity android:name=".ihm.activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ihm.activities.MainActivity" />

        <activity
            android:name=".ihm.activities.StatisticsActivity"
            android:parentActivityName=".ihm.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ihm.activities.MainActivity" />
        </activity>

        <activity
            android:name=".ihm.activities.PlayerActivity"
            android:parentActivityName=".ihm.activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ihm.activities.HomeActivity" />
        </activity>

        <activity android:name=".ihm.activities.LaunchActivity" />

    </application>

</manifest>