<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.whfrp3">

    <!-- android:icon="@mipmap/ic_launcher" -->
    <application
        android:name="com.whfrp3.tools.MyApplication"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:icon="@drawable/warhammer_v3_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <activity
            android:name="com.whfrp3.ihm.activities.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.whfrp3.ihm.activities.PlayerActivity"
            android:parentActivityName="com.whfrp3.ihm.activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.whfrp3.ihm.activities.HomeActivity" />
        </activity>

        <activity
            android:name="com.whfrp3.ihm.activities.LaunchActivity"
            android:parentActivityName="com.whfrp3.ihm.activities.PlayerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.whfrp3.ihm.activities.PlayerActivity" />
        </activity>

        <activity
            android:name="com.whfrp3.ihm.activities.StatisticsActivity"
            android:parentActivityName="com.whfrp3.ihm.activities.LaunchActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.whfrp3.ihm.activities.LaunchActivity" />
        </activity>

        <activity
            android:name="com.whfrp3.ihm.activities.ItemEditActivity"
            android:parentActivityName="com.whfrp3.ihm.activities.PlayerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.whfrp3.ihm.activities.PlayerActivity" />
        </activity>
    </application>

</manifest>